# Required
DISCORD_BOT_TOKEN=
DISCORD_USER_TOKEN=
PLAYLIST=

# Optional
GUILD=
XMLTV=
REFRESH_INTERVAL=1440
STREAM_TIMEOUT=10
BITRATE_VIDEO=5000
BITRATE_VIDEO_MAX=7500
DISABLE_TRANSCODE=false
MINIMIZE_LATENCY=true
DEBUG=false
TZ=UTC
